@model IEnumerable<AcademiEnroll.Models.Docente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Estilos {
    <link href="https://cdn.datatables.net/buttons/3.2.0/css/buttons.dataTables.css" rel="stylesheet" />

    <style>
        .btn-exportar-excel {
            background-color: #198754 !important;
            color: white !important;
        }

        .btn-exportar-pdf {
            background-color: #dc3545 !important;
            color: white !important;
        }

        .btn-exportar-print {
            background-color: #0d6efd !important;
            color: white !important;
        }
    </style>
}

<h1>Listado de docentes</h1>

<p>
    <a asp-action="Create" class="btn btn-warning">
        <i class="fas fa-user-plus"></i> Agregar Docente
    </a>
</p>

<table id="docente" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUsuario)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdDocente" class="btn btn-primary btn-sm text-white" title="Editar">
                        <i class="fas fa-edit"></i> Editar
                    </a>
                    <a asp-action="Details" asp-route-id="@item.IdDocente" class="btn btn-info btn-sm" title="Detalles">
                        <i class="fas fa-info-circle"></i> Detalles
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.IdDocente" class="btn btn-danger btn-sm text-white" title="Eliminar">
                        <i class="fas fa-trash"></i> Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.0/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.0/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {
            let table = new DataTable('#docente', {
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/2.1.8/i18n/es-MX.json"
                },
                dom: "<'row'<'col-md-6 text-start'B><'col-md-6 text-end'f>>rt<'bottom'lp><'clear'>",
                buttons: [
                    {
                        extend: "excelHtml5",
                        text: "<i class='fas fa-file-excel'></i> Exportar Excel",
                        filename: "Reporte de docentes",
                        title: "",
                        className: "btn-exportar-excel"
                    },
                    {
                        extend: "pdfHtml5",
                        text: "<i class='fas fa-file-pdf'></i> Exportar PDF",
                        filename: "Reporte de docentes",
                        title: "",
                        className: "btn-exportar-pdf"
                    },
                    {
                        extend: "print",
                        text: "<i class='fas fa-print'></i> Imprimir",
                        title: "",
                        className: "btn-exportar-print"
                    },
                    "pageLength"
                ]
            });

            // Mostrar alerta de éxito o error
            var successMessage = '@TempData["SuccessMessage"]';
            var errorMessage = '@TempData["ErrorMessage"]';

            if (successMessage) {
                Swal.fire({
                    icon: 'success',
                    title: successMessage,
                    showConfirmButton: false,
                    timer: 1500
                });
            }

            if (errorMessage) {
                Swal.fire({
                    icon: 'error',
                    title: errorMessage,
                    showConfirmButton: false,
                    timer: 1500
                });
            }
        });
    </script>
}

