@model IEnumerable<AcademiEnroll.Models.Nota>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Estilos {
    <link href="https://cdn.datatables.net/buttons/3.2.0/css/buttons.dataTables.css" rel="stylesheet" />

    <style>
        .btn-exportar-excel {
            background-color: #198754 !important;
            color: white !important;
        }

        .btn-exportar-pdf {
            background-color: #dc3545 !important;
            color: white !important;
        }

        .btn-exportar-print {
            background-color: #0d6efd !important;
            color: white !important;
        }
    </style>
}

<p>
    @if ((bool)ViewBag.EsDocente)
    {
        <a asp-action="Create" class="btn btn-warning">
            <i class="fas fa-user-plus"></i> Cargar Nota
        </a>
    }
</p>

<h1>Listado de notas</h1>

<table id="Nota" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEstudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreAsignatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calificacion)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEstudiante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreAsignatura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calificacion)
                </td>
                <td>
                    @if ((bool)ViewBag.EsAdministrador)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm text-white" title="Editar">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm" title="Detalles">
                        <i class="fas fa-info-circle"></i> Detalles
                    </a>
                    @if ((bool)ViewBag.EsAdministrador)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm text-white" title="Eliminar">
                            <i class="fas fa-trash"></i> Eliminar
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.0/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {
            let table = new DataTable('#Nota', {
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/2.1.8/i18n/es-MX.json"
                },
                dom: "<'row'<'col-md-6 text-start'B><'col-md-6 text-end'f>>rt<'bottom'lp><'clear'>",
                buttons: [
                    {
                        extend: "excelHtml5",
                        text: "<i class='fas fa-file-excel'></i> Exportar Excel",
                        filename: "Reporte de notas",
                        title: "",
                        className: "btn-exportar-excel"
                    },
                    {
                        extend: "pdfHtml5",
                        text: "<i class='fas fa-file-pdf'></i> Exportar PDF",
                        filename: "Reporte de notas",
                        title: "",
                        className: "btn-exportar-pdf"
                    },
                    {
                        extend: "print",
                        text: "<i class='fas fa-print'></i> Imprimir",
                        title: "",
                        className: "btn-exportar-print"
                    },
                    "pageLength"
                ],
                "order": [[0, 'asc']] // Aquí se especifica que la columna 0 (Id) se ordene de forma descendente
            });
        });
    </script>

}
